---
// src/pages/contributing.astro
import Layout from '../layouts/Layout.astro';
import Sidebar from '../components/Sidebar.astro';
---

<Layout title="About - Open Patterns">
  <main class="app-container">
    <Sidebar />
    <div class="main-content">
      <h1>Contribute to Open Patterns</h1>
      <p>TODO</p>
      <li><a href="https://github.com/openui/design-system/" target="_blank">GitHub</a></li>
      <li><a href="https://discord.com/invite/DEWjhSw" target="_blank">Discord</a></li>
    </div>
  </main>
</Layout>