---
import CloseIcon from "./icons/CloseIcon.astro";

const { popovertarget } = Astro.props;
---

<button class="close-button" popovertarget={popovertarget} popovertargetaction="hide">
  <span class="sr-only"><slot /></span>
  <CloseIcon />
</button>

<style>
  .close-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 2.5em;
    height: 2.5em;
    padding: 0.5em;
  }
</style>