---
import ThemeSwitcher from './ThemeSwitcher.astro';

type Pattern = {
  name: string;
  id: string;
};

const { patterns }: Record<string, Pattern[]> = Astro.props;
---

<aside class="sidenav">
  <h1>Open Patterns</h1>
  
  <ThemeSwitcher />

  <nav class="sidebar-nav">
    <h2>Patterns</h2>
    <ul>
      {patterns.map(pattern => (
        <li>
          <a href={`#${pattern.id}`}>{pattern.name}</a>
        </li>
      ))}
    </ul>
  </nav>
</aside>

<style>
  .sidenav {
    background-color: var(--sidebar-bg);
    width: 280px;
    flex-shrink: 0;
    padding: 1.5rem;
    border-inline-end: 1px solid var(--border-color);
    overflow-y: auto;
    
    @media (max-width: 768px) {
      display: none;
    }
    > h1 {
      margin-top: 0;
    }
  }
  .sidebar-nav {
    margin-top: 2rem;
  }
  
  .sidebar-nav {
    > ul {
      list-style: none;
      padding: 0;
  
      > li {
        margin-bottom: 0.75rem;
      }
    }
  }
</style>
